p {
    background-color: gainsboro;
    color: red;
    font-size: 20px;
}

a {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    color: pink
}

#idNome{
    color: blue

}

input{
    color: brown;
}

.colorido {
    color: orangered;
    font-size: 30px;
}